[submodule "libtecla"]
	path = libtecla
	url= ../rtems-HZB-cexpsh-libtecla.git
[submodule "regexp"]
	path = regexp
	url= ../rtems-HZB-cexpsh-regexp.git
[submodule "m4"]
	path = m4
	url= ../rtems-HZB-cexpsh-m4.git
[submodule "getopt"]
	path = getopt
	url= ../rtems-HZB-cexpsh-getopt.git
